

.pagination{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

}

.pagination li a {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}


.pagination li:hover {
  background-color: rgba(0, 0, 0, .1);
}

.active{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}