.pagination{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.active{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}